body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #709ada;
  text-align: center;
}

h1 {
  font-size: 100px;
}

.container {
  display: absolute;
  align-content: center;
  justify-content: center;
  margin: 60% auto;
  padding: 0;
}

button {
  display: inline;
  background-color: #0d1474;
  border: 0;
  padding: 5px 2px;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 50px;
}
